In [87]:
%matplotlib inline

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

import seaborn as sns
import matplotlib.pyplot as plt

import datetime as dt

from operator import attrgetter
from datetime import timedelta

In [2]:
customers = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-t-tusupov-38/Intermediate_project/olist_customers_dataset.csv')
customers.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

In [3]:
# customers — таблица с уникальными идентификаторами пользователей

# customer_id — позаказный идентификатор пользователя

# customer_unique_id —  уникальный идентификатор пользователя  (аналог номера паспорта)

# customer_zip_code_prefix —  почтовый индекс пользователя

# customer_city —  город доставки пользователя

# customer_state —  штат доставки пользователя

In [4]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [5]:
orders = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-t-tusupov-38/Intermediate_project/olist_orders_dataset.csv')
orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [6]:
orders.dtypes
# даты находятся не в своем типе данных:
# order_purchase_timestamp
# order_approved_at
# order_delivered_carrier_date  
# order_delivered_customer_date 
# order_estimated_delivery_date

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [7]:
# orders —  таблица заказов

# order_id —  уникальный идентификатор заказа (номер чека)

# customer_id —  позаказный идентификатор пользователя

# order_status —  статус заказа

# order_purchase_timestamp —  время создания заказа

# order_approved_at —  время подтверждения оплаты заказа

# order_delivered_carrier_date —  время передачи заказа в логистическую службу

# order_delivered_customer_date —  время доставки заказа

# order_estimated_delivery_date —  обещанная дата доставки

In [8]:
order_items = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-t-tusupov-38/Intermediate_project/olist_order_items_dataset.csv')
order_items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [9]:
order_items.dtypes
# shipping_limit_date также не своем типе данных

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [10]:
# order_items —  товарные позиции, входящие в заказы

# order_id —  уникальный идентификатор заказа (номер чека)

# order_item_id —  идентификатор товара внутри одного заказа

# product_id —  ид товара (аналог штрихкода)

# seller_id — ид производителя товара

# shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике

# price —  цена за единицу товара

# freight_value —  вес товара

In [11]:
# 1. Сколько у нас пользователей, 
# которые совершили покупку только один раз? (7 баллов)

In [12]:
# Перед подсчетом необходимо обьединить таблицы. Две таблицы нам необходимы:
# customers и orders
# Можно обьединить по общей колонке customer_id

In [13]:
customers.shape

(99441, 5)

In [14]:
customers.nunique()

customer_id                 99441
customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [15]:
orders.shape

(99441, 8)

In [16]:
orders.nunique()

order_id                         99441
customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

In [17]:
customers_n_orders = customers.merge(orders, on = 'customer_id')

In [18]:
customers_n_orders.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00

In [19]:
# Определим статусы заказов, которые нам необходимы, а также которые при условии:
# 1. Оплачены и не отменены: delivered, shipped, processing
# 2. Не оплачен и не отменены: invoiced, created, approved 
# 3. Оплачен и отменен: canceled
# 4. Не оплачен и отменен: canceled

# created —  создан
# approved —  подтверждён
# invoiced —  выставлен счёт
# processing —  в процессе сборки заказа
# shipped —  отгружен со склада
# delivered —  доставлен пользователю
# unavailable —  недоступен
# canceled —  отменён

# Соответсвенно, нам необходим пункт 1

In [20]:
customers_who_bought_delivered = customers_n_orders.loc[customers_n_orders.order_status == 'delivered'].groupby('customer_id').agg({'order_status' : 'count'})

In [21]:
customers_who_bought_delivered.shape

(96478, 1)

In [22]:
customers_who_bought_shipped = customers_n_orders.loc[customers_n_orders.order_status == 'shipped'].groupby('customer_id').agg({'order_status' : 'count'})

In [23]:
customers_who_bought_shipped.shape

(1107, 1)

In [24]:
customers_who_bought_processing = customers_n_orders.loc[customers_n_orders.order_status == 'shipped'].groupby('customer_id').agg({'order_status' : 'count'})

In [25]:
customers_who_bought_processing.shape #В сумме получается 98692 оплаченых и не отмененных заказов из 99441

(1107, 1)

In [26]:
# Второй вариант решения
# Можно следовать логике, 
# что оплата это оплата товаров и выдача чека, 
# без разницы была отменена или нет покупка, 
# факт покупки есть и это главное, так как чек выдается после покупки

In [27]:
customers_who_bought_2 = customers_n_orders.groupby(['customer_id'],as_index = False).agg({'order_id': 'count'})

In [28]:
customers_who_bought_2.order_id.sum() #Количество чеков по уникальным айди пользователей
# Получается каждый пользователь совершил одну покупку, так как номер чека есть у каждого

99441

In [29]:
# 2. Сколько заказов в месяц в среднем не доставляется 
# по разным причинам (вывести детализацию по причинам)? (10 баллов)

In [30]:
zakaz_ne_dostavlen = customers_n_orders.loc[customers_n_orders.order_status != 'delivered'].groupby('customer_id').agg({'order_status' : 'count'})

In [31]:
zakaz_ne_dostavlen.head()

                                  order_status
customer_id
001574cd5824c0b1ea90dd4f4ba6d5b8             1
002348c1099e3229276c8ad7d4ddc702             1
0026d252429f669d454d726e5e956aa1             1
002b5342c72978cf0aba6aae1f5d5293             1
0037d14e53af1d555a582504a4058f4c             1

In [32]:
zakaz_ne_dostavlen.shape #общее количество заказов, которые не доставили по причинам

(2963, 1)

In [33]:
zakaz_ne_dostavlen_1 = customers_n_orders.query('order_status != "delivered"') \
                        .groupby(['customer_id', 'order_status']) \
                        .agg({'order_status' : 'count'}) \
                        .rename(columns={'order_status':'order_quantity'})

In [34]:
zakaz_ne_dostavlen_1.head()

                                               order_quantity
customer_id                      order_status
001574cd5824c0b1ea90dd4f4ba6d5b8 unavailable                1
002348c1099e3229276c8ad7d4ddc702 processing                 1
0026d252429f669d454d726e5e956aa1 shipped                    1
002b5342c72978cf0aba6aae1f5d5293 canceled                   1
0037d14e53af1d555a582504a4058f4c unavailable                1

In [35]:
zakaz_ne_dostavlen_2 = zakaz_ne_dostavlen_1.groupby('order_status').order_quantity.sum().reset_index() 
#Количество заказов, которые не доставлены по причинам, кроме delivered

In [36]:
zakaz_ne_dostavlen_2

  order_status  order_quantity
0     approved               2
1     canceled             625
2      created               5
3     invoiced             314
4   processing             301
5      shipped            1107
6  unavailable             609

In [37]:
# Теперь переходим к подсчету среднего и для начала необходимо привести данные в тип данных времени
without_delivered = orders[orders.order_delivered_customer_date.isna()].query("order_status != 'delivered'")

In [38]:
without_delivered.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,NaN,2018-06-28 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaN,NaN,2018-08-21 00:00:00

In [39]:
without_delivered['order_purchase_timestamp'] = pd.to_datetime(without_delivered['order_purchase_timestamp'])

In [40]:
without_delivered.order_purchase_timestamp = without_delivered.order_purchase_timestamp.dt.strftime("%b")

In [41]:
without_delivered.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,Apr,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,Jun,2018-06-05 04:31:18,2018-06-05 14:32:00,NaN,2018-06-28 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,Aug,2018-08-07 06:15:14,NaN,NaN,2018-08-21 00:00:00

In [42]:
# Сам подсчет среднего
mean_without_delivered = without_delivered.groupby(['order_purchase_timestamp', 'order_status'], as_index = False) \
                            .agg({'customer_id' : 'count'}) \
                            .groupby('order_status') \
                            .agg({'customer_id' : 'mean'}) \
                            .round().sort_values('customer_id', ascending = False)

In [43]:
mean_without_delivered

              customer_id
order_status
shipped              92.0
canceled             52.0
unavailable          51.0
invoiced             26.0
processing           25.0
created               2.0
approved              1.0

In [44]:
# 3. По каждому товару определить, 
# в какой день недели товар чаще всего покупается. (7 баллов)

In [45]:
#Аналогично для подсчета сведем два df orders и order_items
product_day = orders.merge(order_items, on = 'order_id')

In [46]:
product_day.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

In [47]:
product_day.shape

(112650, 14)

In [48]:
#Аналогичная логика покупки, это:
# наличие статуса заказа processing, shipped, delivered

In [49]:
# Считаем 
product_day = product_day.query("order_status == ['processing', 'shipped', 'delivered']")

In [50]:
product_day['order_purchase_timestamp'] = pd.to_datetime(product_day['order_purchase_timestamp'], errors='coerce')

In [51]:
product_day.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date            object
order_item_id                             int64
product_id                               object
seller_id                                object
shipping_limit_date                      object
price                                   float64
freight_value                           float64
dtype: object

In [52]:
product_day.order_purchase_timestamp = product_day.order_purchase_timestamp.dt.day_name()

In [53]:
product_day_2 =  product_day.groupby(["product_id", "order_purchase_timestamp"], as_index=False) \
    .agg({"customer_id": "count"}) \
    .sort_values(by="customer_id", ascending=False) \
    .drop_duplicates(subset='product_id')

In [54]:
product_day_2.head(10)

                             product_id order_purchase_timestamp  customer_id
15766  422879e10f46682990de24d770e7f83d                Wednesday           93
36178  99a4788cb24856965c36a24e339b6058                   Monday           92
40679  aca2eb7d00ea1a7b8ebd4e68314663af                 Thursday           89
19944  53b36df67ebb7c41585e8d54d6772e08                  Tuesday           76
13422  389d119b48cf3043d311335e499d9c6b                 Thursday           67
12892  368c6c730842d78016ad823897a372db                   Friday           67
19895  53759a2ecddad2bb87a079a1f1519f73                Wednesday           66
49759  d1c427060a0f73f6b889a5c7c61f2ac4                   Monday           64
14707  3dd2a17168ec895c781a9191c1e95ad7                Wednesday           54
5118   154e7e31ebfa092203795c972e5804a6                Wednesday           49

In [55]:
# 4. Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)? 
# Не стоит забывать, что внутри месяца может быть не целое количество недель. 
# Например, в ноябре 2021 года 4,28 недели. И внутри метрики это нужно учесть. (8 баллов)

In [56]:
#Объединим df customers и order_items и orders
c_o_i = customers_n_orders.merge(order_items)

In [57]:
c_o_i.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25

In [58]:
#Аналогично приводит даты в месяцы
c_o_i['order_purchase_timestamp'] = pd.to_datetime(c_o_i['order_purchase_timestamp'], errors='coerce')
c_o_i.order_purchase_timestamp = c_o_i.order_purchase_timestamp.dt.strftime('%Y-%m')

In [59]:
#Необходимо посчитать количество покупок по каждому уникальному customer_unique_id по месяцам без недель
customer_month_bought = c_o_i.groupby(['customer_unique_id','order_purchase_timestamp'], as_index = False) \
                        .agg({"order_id":"count"})

In [60]:
customer_month_bought.head(3)

                 customer_unique_id order_purchase_timestamp  order_id
0  0000366f3b9a7992bf8c76cfdf3221e2                  2018-05         1
1  0000b849f77a49e4a4ce2b2a4ca5be3f                  2018-05         1
2  0000f46a3911fa3c0805444483337064                  2017-03         1

In [61]:
#Создаем колонку с порядковым номером месяца для переменной того, чтобы определить количество дней
customer_month_bought["day_month"] = customer_month_bought.order_purchase_timestamp

In [62]:
customer_month_bought["day_month"] = pd.to_datetime(customer_month_bought["day_month"]).dt.month

In [63]:
customer_month_bought.head(3)

,customer_unique_id,order_purchase_timestamp,order_id,day_month
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05,1,5
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05,1,5
2,0000f46a3911fa3c0805444483337064,2017-03,1,3

In [64]:
#Функция, если честно увидел на форуме, как обозначают дни по порядковому номеру месяца
def week(day_month):
        if day_month == 2:
            x = 28
        elif day_month == 4:
            x = 30
        elif day_month == 6:
            x = 30
        elif day_month == 9:
            x = 30
        elif day_month == 11:
            x = 30
        else:
            x = 31
        return x

In [65]:
# Добавляем в колонку значения функции
customer_month_bought.day_month = customer_month_bought.day_month.apply(week)

In [66]:
customer_month_bought

,customer_unique_id,order_purchase_timestamp,order_id,day_month
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05,1,31
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05,1,31
2,0000f46a3911fa3c0805444483337064,2017-03,1,31
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10,1,31
4,0004aac84e0df4da2b147fca70cf8255,2017-11,1,30
...,...,...,...,...
97314,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06,2,30
97315,fffea47cd6d3cc0a88bd621562a9d061,2017-12,1,31
97316,ffff371b4d645b6ecea244b27531430a,2017-02,1,28
97317,ffff5962728ec6157033ef9805bacc48,2018-05,1,31
97318,ffffd2657e2aad2907e67c3e9daecbeb,2017-05,1,31

In [67]:
#Непосредственно заключительные подсчеты
customer_month_bought['mean_bought'] = (customer_month_bought.order_id/ customer_month_bought.day_month)

In [68]:
customer_month_bought.head()

,customer_unique_id,order_purchase_timestamp,order_id,day_month,mean_bought
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05,1,31,0.032258
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05,1,31,0.032258
2,0000f46a3911fa3c0805444483337064,2017-03,1,31,0.032258
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10,1,31,0.032258
4,0004aac84e0df4da2b147fca70cf8255,2017-11,1,30,0.033333

In [69]:
# 5. Используя pandas, проведи когортный анализ пользователей. 
# В период с января по декабрь выяви когорту с самым высоким retention на 3й месяц.

In [70]:
# Когорта — это группа людей, которая совершила нужное действие в определенный промежуток времени.

In [79]:
orders_uniq_id = orders.merge(customers, how='inner', on='customer_id')

In [80]:
orders_uniq_id.head(3)

,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO

In [81]:
# Преобразование столбцов с датами в тип datetime
orders_uniq_id['order_purchase_timestamp'] = pd.to_datetime(orders_uniq_id['order_purchase_timestamp'])

In [83]:
# Создание столбца с месяцем регистрации
orders_uniq_id['registration_month'] = orders_uniq_id['order_purchase_timestamp'].dt.to_period('M')

In [84]:
# Рассчет retention rate на 3-й месяц
cohort_group = orders_uniq_id.groupby('registration_month')
cohort_size = cohort_group['customer_unique_id'].nunique()
retention_3rd_month = cohort_group['order_purchase_timestamp'].apply(lambda x: (x.dt.to_period('M') == x.dt.to_period('M').shift(2)).sum())

In [85]:
# Нахождение когорты с самым высоким retention на 3-й месяц
max_retention_cohort = retention_3rd_month.idxmax()

In [86]:
print("Когорта с самым высоким retention на 3-й месяц:", max_retention_cohort)

Когорта с самым высоким retention на 3-й месяц: 2017-11

In [77]:
# 6. Часто для качественного анализа аудитории использую подходы, 
# основанные на сегментации. 
# Используя python, построй RFM-сегментацию пользователей, 
# чтобы качественно оценить свою аудиторию. 
# В кластеризации можешь выбрать следующие метрики: 
# R - время от последней покупки пользователя до текущей даты, 
# F - суммарное количество покупок у пользователя за всё время, 
# M - сумма покупок за всё время. Подробно опиши, как ты создавал кластеры. 
# Для каждого RFM-сегмента построй границы метрик recency, frequency и monetary для интерпретации этих кластеров. 
# Пример такого описания: RFM-сегмент 132 (recency=1, frequency=3, monetary=2) 
# имеет границы метрик recency от 130 до 500 дней, 
# frequency от 2 до 5 заказов в неделю, 
# monetary от 1780 до 3560 рублей в неделю.

In [108]:
#Используем прошлый дф из другого задания, где смерджены все 3 дф
c_o_i

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00,1,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88
112646,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00,1,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16
112647,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00,1,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04
112648,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00,1,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07
112649,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78

In [109]:
# Преобразование столбца с датой покупки в тип datetime
c_o_i['order_purchase_timestamp'] = pd.to_datetime(c_o_i['order_purchase_timestamp'])

In [110]:
# Определение текущей даты
current_date = pd.to_datetime('2023-05-22')

In [111]:
# Создание RFM-метрик
rfm_data = c_o_i.groupby('customer_unique_id').agg({
    'order_purchase_timestamp': lambda x: (current_date - x.max()).days,  # Recency
    'order_id': 'count',  # Frequency
    'price': 'sum'  # Monetary
})
rfm_data.columns = ['Recency', 'Frequency', 'Monetary']

In [113]:
rfm_data.head()

                                  Recency  Frequency  Monetary
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2     1847          1    129.90
0000b849f77a49e4a4ce2b2a4ca5be3f     1847          1     18.90
0000f46a3911fa3c0805444483337064     2273          1     69.00
0000f6ccb0745a6a4b88665a16c9f078     2059          1     25.99
0004aac84e0df4da2b147fca70cf8255     2028          1    180.00

In [115]:
# Масштабирование RFM-метрик
rfm_scaled = (rfm_data - rfm_data.mean()) / rfm_data.std()

In [116]:
# Кластеризация методом K-средних
kmeans = KMeans(n_clusters=5, random_state=42)
kmeans.fit(rfm_scaled)

KMeans(n_clusters=5, random_state=42)

In [117]:
# Присвоение меток кластеров пользователям
rfm_data['Cluster'] = kmeans.labels_

In [118]:
# Определение границ метрик для интерпретации
recency_bins = [0, 30, 60, 90, 120, float('inf')]
frequency_bins = [1, 2, 3, 4, 5, float('inf')]
monetary_bins = [0, 1000, 2000, 3000, 4000, float('inf')]

In [119]:
# Описание RFM-сегментов c указанием границ
rfm_data['RecencyGroup'] = pd.cut(rfm_data['Recency'], bins=recency_bins, labels=False)
rfm_data['FrequencyGroup'] = pd.cut(rfm_data['Frequency'], bins=frequency_bins, labels=False)
rfm_data['MonetaryGroup'] = pd.cut(rfm_data['Monetary'], bins=monetary_bins, labels=False)

In [120]:
segment_descriptions = rfm_data.groupby(['RecencyGroup', 'FrequencyGroup', 'MonetaryGroup']).agg({
    'Recency': ['min', 'max'],
    'Frequency': ['min', 'max'],
    'Monetary': ['min', 'max']
})
segment_descriptions.columns = ['RecencyMin', 'RecencyMax', 'FrequencyMin', 'FrequencyMax', 'MonetaryMin', 'MonetaryMax']
segment_descriptions.reset_index(inplace=True)

In [121]:
# Вывод описания RFM-сегментов
for i, segment in segment_descriptions.iterrows():
    r_desc = f"recency от {segment['RecencyMin']} до {segment['RecencyMax']} дней"
    f_desc = f"frequency от {segment['FrequencyMin']} до {segment['FrequencyMax']} заказов"
    m_desc = f"monetary от {segment['MonetaryMin']} до {segment['MonetaryMax']} рублей"
    print(f"RFM-сегмент {segment['RecencyGroup']}{segment['FrequencyGroup']}{segment['MonetaryGroup']} ({r_desc}, {f_desc}, {m_desc})")

RFM-сегмент 4.00.00.0 (recency от 1724.0 до 2454.0 дней, frequency от 2.0 до 2.0 заказов, monetary от 7.8 до 1000.0 рублей)
RFM-сегмент 4.00.01.0 (recency от 1755.0 до 2332.0 дней, frequency от 2.0 до 2.0 заказов, monetary от 1004.99 до 1980.0 рублей)
RFM-сегмент 4.00.02.0 (recency от 1786.0 до 2151.0 дней, frequency от 2.0 до 2.0 заказов, monetary от 2009.98 до 2999.98 рублей)
RFM-сегмент 4.00.03.0 (recency от 1816.0 до 2151.0 дней, frequency от 2.0 до 2.0 заказов, monetary от 3198.0 до 3999.98 рублей)
RFM-сегмент 4.00.04.0 (recency от 1786.0 до 2242.0 дней, frequency от 2.0 до 2.0 заказов, monetary от 4400.0 до 7388.0 рублей)
RFM-сегмент 4.01.00.0 (recency от 1755.0 до 2454.0 дней, frequency от 3.0 до 3.0 заказов, monetary от 9.18 до 978.86 рублей)
RFM-сегмент 4.01.01.0 (recency от 1755.0 до 2273.0 дней, frequency от 3.0 до 3.0 заказов, monetary от 1009.79 до 1977.0 рублей)
RFM-сегмент 4.01.02.0 (recency от 1816.0 до 2120.0 дней, frequency от 3.0 до 3.0 заказов, monetary от 2096.94 до 2547.0 рублей)
RFM-сегмент 4.01.03.0 (recency от 2212.0 до 2212.0 дней, frequency от 3.0 до 3.0 заказов, monetary от 3597.0 до 3597.0 рублей)
RFM-сегмент 4.02.00.0 (recency от 1755.0 до 2424.0 дней, frequency от 4.0 до 4.0 заказов, monetary от 18.0 до 989.74 рублей)
RFM-сегмент 4.02.01.0 (recency от 1755.0 до 2242.0 дней, frequency от 4.0 до 4.0 заказов, monetary от 1014.5999999999999 до 1736.0 рублей)
RFM-сегмент 4.02.02.0 (recency от 1816.0 до 1816.0 дней, frequency от 4.0 до 4.0 заказов, monetary от 2920.0 до 2920.0 рублей)
RFM-сегмент 4.02.04.0 (recency от 1786.0 до 1786.0 дней, frequency от 4.0 до 4.0 заказов, monetary от 7160.0 до 7160.0 рублей)
RFM-сегмент 4.03.00.0 (recency от 1755.0 до 2424.0 дней, frequency от 5.0 до 5.0 заказов, monetary от 17.5 до 994.8 рублей)
RFM-сегмент 4.03.01.0 (recency от 1755.0 до 2181.0 дней, frequency от 5.0 до 5.0 заказов, monetary от 1102.63 до 1995.0 рублей)
RFM-сегмент 4.03.02.0 (recency от 2242.0 до 2242.0 дней, frequency от 5.0 до 5.0 заказов, monetary от 2492.5 до 2492.5 рублей)
RFM-сегмент 4.04.00.0 (recency от 1755.0 до 2424.0 дней, frequency от 6.0 до 21.0 заказов, monetary от 23.88 до 978.4799999999999 рублей)
RFM-сегмент 4.04.01.0 (recency от 1755.0 до 2242.0 дней, frequency от 6.0 до 20.0 заказов, monetary от 1000.8499999999999 до 2000.0 рублей)
RFM-сегмент 4.04.02.0 (recency от 1816.0 до 2059.0 дней, frequency от 6.0 до 12.0 заказов, monetary от 2200.0 до 2919.4 рублей)
RFM-сегмент 4.04.03.0 (recency от 1847.0 до 1847.0 дней, frequency от 6.0 до 6.0 заказов, monetary от 3099.75 до 3099.75 рублей)
RFM-сегмент 4.04.04.0 (recency от 1755.0 до 2089.0 дней, frequency от 6.0 до 24.0 заказов, monetary от 4080.0 до 13440.0 рублей)